@media screen and (max-width: 1151px) {
    .blocks {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 767px) {
    main {
        grid-template-columns: 1fr;
    }

    .blocks {
        grid-template-columns: 1fr;
    }
}

