/*                  Reset CSS                  */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a, a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: inherit;
    font-size: inherit;
}

img {
    vertical-align: top;
}

html, body {
    height: 100%;
}

html {
    font-size: 14px;
}

button, input, textarea, select, a {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    line-height: inherit;
    background-color: inherit;
}

body {
    line-height: 1;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
}

/*                  Reset CSS                  */


body {
    font-family: 'Roboto', sans-serif;
    width: 100vw;
}

.wrapper {
    width: 100%;
    margin: 0 auto;
}

h1 {
    width: 100vw;
    text-align: center;
    font-size: 35px;
    margin-bottom: 30px;
    font-weight: 700;
    background-color: #2e93ef;
    color: white;
    padding: 20px;
}

h2 {
    font-size: 18px;
    margin-bottom: 5px;
}

h3 {
    font-size: 12px;
}

main {
    padding: 0 15vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

main > .block {
    background-color: #e0e0e0;
    border: 1px solid lightgray;
    border-radius: 10px;
    margin: 0 auto 25px;
    padding: 20px 20px 5px;
}

.btn {
    font-size: 14px;
    background-color: #2e93ef;
    height: 25px;
    width: 250px;
    border: 1px solid lightgray;
    margin: 10px 0;
    font-weight: 700;
    color: white;
    border-radius: 10px;
}

.btn:hover {
    cursor: pointer;
    background-color: #1877F2;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 14px;
    background-color: #8834e5;
    height: 30px;
    width: 90vw;
    border: 1px solid lightgray;
    margin: 0 auto;
    font-weight: 700;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

.button button {
    font-weight: 700;
    cursor: pointer;
}

.user-info {
    margin: 0 0 20px 30px;
    padding-left: 10px;
    border-left: 1px solid #ccc;
}

.user-info > li::before {
    content: '';
    margin-right: 5px;
    display: inline-block;
    vertical-align: middle;
    width: 24px;
    height: 24px;
}

.user-info > li:first-child::before {
    background-image: url(../img/folder_shared_24px_outlined.png);
}

.user-info > li:nth-child(2)::before {
    background-image: url(../img/person_24px_outlined.png);
}

.user-info > li:nth-child(3)::before {
    background-image: url(../img/account_circle_24px_outlined.png);
}

.user-info > li:nth-child(4)::before {
    background-image: url(../img/markunread_24px_outlined.png);
}

.user-info > li:nth-child(5)::before {
    background-image: url(../img/24px_outlined.png);
}

.user-info > li:nth-child(6)::before {
    background-image: url(../img/phone_in_talk_24px_outlined.png);
}

.user-info > li:nth-child(7)::before {
    background-image: url(../img/phonelink_24px_outlined.png);
}

.user-info > li:last-child::before {
    background-image: url(../img/group_24px_outlined.png);
}

.child-info {
    margin: 0 0 10px 30px;
    padding-left: 10px;
    border-left: 1px solid #ddd;
}

.child-info > li:nth-child(5)::before {
    content: '';
    background-image: url(../img/location_on_24px_outlined.png);
    margin-right: 5px;
    display: inline-block;
    vertical-align: middle;
    width: 24px;
    height: 24px;
}

.grandchild-info {
    margin-left: 30px;
    padding-left: 10px;
    border-left: 1px solid #eee;
}

.posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
    padding: 0 5vw;
}

.post {
    background-color: #e0e0e0;
    width: 18%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 20px;
}

.post > .btn {
    width: 80%;
    margin: 0 auto;
}

.post-info {
    margin: 0 0 20px 30px;
    padding-left: 10px;
    border-left: 1px solid #ccc;
}

.post-info > li::before {
    content: '';
    margin-right: 5px;
    display: inline-block;
    vertical-align: middle;
    width: 24px;
    height: 24px;
}

.post-info > li:first-child::before {
    background-image: url(../img/folder_shared_24px_outlined.png);
}

.post-info > li:nth-child(2)::before {
    background-image: url(../img/list_alt_24px_outlined.png);
}

.post-info > li:nth-child(3)::before {
    background-image: url(../img/account_circle_24px_outlined.png);
}

.post-info > li:nth-child(4)::before {
    background-image: url(../img/insert_comment_24px_outlined.png);
}

.comments {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    flex-wrap: wrap;
    margin-top: 20px;
    padding: 0 5vw;
}

.comment {
    background-color: #e0e0e0;
    width: 24%;
    height: 100px;
    justify-content: space-between;
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 20px;
}