/*           Обнулення стилів                */
*,*::before,*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}
li {
	list-style: none;
}
a,a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
h1,h2,h3,h4,h5,h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {
	vertical-align: top;
}
html,body {
	height: 100%;
}
html {
	font-size: 16px;
}
button,input,textarea,select,a {
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	line-height: inherit;
	background-color: inherit;
}
body {
	line-height: 1;
	/* color: #000; */
	font-family: 'Roboto', sans-serif;
}
.wrapper {
   min-height: 100%;
   overflow: hidden;
	display: flex;
	align-items: center;
}
/*                                            */

form {
	display: flex;
	flex-direction: column;
	align-items: center;

	
}



input {
	color: gray;
	font-weight: 700;
	width: 400px;
	height: 40px;
	line-height: 40px;
	border: 1px solid darkgray;
	border-radius: 2px;
	box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
	margin-bottom: 30px;
	padding-left: 10px;
}

input::placeholder {
	color: darkgray;
}

.name {
	width: 400px;
	display: flex;
	justify-content: space-between;
}

.first {
	width: 160px;
}

.last {
	width: 230px;
}

.reg {
	width: 500px;
	height: auto;
	padding: 40px 30px;
	border: 1px solid darkgray;
	border-radius: 10px;	
	box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
	margin: 0 auto
}

p {
	color: darkgray;
	font-size: 14px;
	width: 400px;
	margin-bottom: 12px;
}

span {
	color: #000;
}

button {
	font-family: inherit;
	font-size: 18px;
	font-weight: 700;
	width: 400px;
	height: 40px;
	border: 2px solid #EDC200;
	border-radius: 3px;
	background-color: #F8DA00;
	cursor: pointer;
}

button:hover {
	background-color: #EDC200;
}