@import url(https://fonts.googleapis.com/css?family=Uchen:regular);
@import url(https://fonts.googleapis.com/css?family=Ultra:regular);

body{
   margin: 0;
}

h1 {
   font-family: "Ultra", sans-serif;
   font-size: 50px;
   text-align: center;
   margin: 115px 0;
}
.content {
   width: 100%;
   display: flex;
   justify-content: space-around;
}

.block {
   background-color: #EEFFFD;
   border: 2px solid #A8A4A4;
   border-radius: 10px;
   width: 440px;
   height: 530px;
   font-family: "Uchen", sans-serif;
   font-size: 20px;
   line-height: 37px;
   padding: 56px 28px 0px 21px;
}

.button {
   background-color: #D9D9D9;
   border: 1px solid #000000;
   width: 220px;
   height: 70px;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 0 auto;
}

.text {
   height: 275px;
}