/*           Обнулення стилів                */
*,*::before,*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}
li {
	list-style: none;
}
a,a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
h1,h2,h3,h4,h5,h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {
	vertical-align: top;
}
html,body {
	height: 100%;
}
html {
	font-size: 16px;
}
body {
	line-height: 1;
	/* color: #000; */
	font-family: 'Raleway', sans-serif;
}
.wrapper {
   min-height: 100%;
   overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}
/*                                            */


body {
	background-color: darkcyan;
	width: 100vw;
	height: 100vh;
}

.login {
	width: 40vw;
	height: 50vh;
}

.heading {
	background-color: lightgray;
	height: 20%;
	border-radius: 10px 10px 0 0;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2vw;
}

form {
	background-color: #FFFFFF;
	height: 80%;
	border-radius: 0 0 10px 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.data {
	display: flex;
	flex-direction: column;
	width: 75%;
	margin-top: 1em;
}

input {
	background-color: lightgray;
	border: 1px solid gray;
	border-radius: 1px;
	padding-left: 1em;
	margin-bottom: 2em;
	height: 3em;
}

.entry {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 75%;
	font-size: 1.5vw;
}

.box {
	margin-top: 2em;
	height: 13px;
}

button {
	background-color: lightgray;
	width: 8vw;
	height: 2.5em;
	border: 1px solid gray;
	border-radius: 10px;
	cursor: pointer;
	font-size: 1vw;
}

a {
	color: black;
}